:root {
  --primary: #a57fff;
}

@font-face {
  font-family: "Simpsons";
  src: local("MyFont"), url(./fonts/akbar.ttf) format("woff");
}

body {
  background-color: var(--primary);
}

#quote-box {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  font-size: 1.3em;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 50vw;
  margin: 50px auto;
  border-radius: 5px;
}

#text {
  font-family: "robotstxt", serif;
  color: #0f78a1;
}

.quote {
  position: absolute;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: white;
  align-items: center;
}

.open {
  top: -15px;
  left: 300px;
}

#author {
  font-style: italic;
  font-size: 1em;
  text-align: right;
  font-weight: 700;
  padding-right: 30px;
  color: #000;
}

#new-quote {
  float: right;
}
.fa-forward {
  color: black;
}

button {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary);
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
  border: none;
}

#twitter {
  float: left;
}

#twitter i {
  color: #00acee;
}
